<div class="cat-container">
  <header class="fixed">
    <div>
      <%= image_tag 'menu.png', id: "menu-icon" %>
    </div>
    <h2>
      Categories
    </h2>
    <div>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </header>

  <div class="category-group">
    <% @groups.each do |group| %>
      <%= link_to group_entities_path(group_id: group.id) do %>
        <div class="category-card">
          <%= image_tag url_for(group.icon), alt: "group icon" %>
          <div class="inner-card">
            <div class="inner-card-info">
              <h3><%= group.name %></h3>
              <% if group && group.entities.present? %>
                $<%= group.entities.sum { |entity| entity[:amount] } %>
              <% else %>
                $0
              <% end %>
            </div>
            <h4><%= group.created_at.strftime('%B %d, %Y %I:%M %p') %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <footer>
    <%= link_to "Add a new category", new_group_path %>
  </footer>
</div>
