<div class="cat-container">
 
  <header class="fixed" >
    <div>
        <%= image_tag 'menu.png', id: "menu-icon" %>
    </div>
    <h2>
        Categories
    </h2>
    <div>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
  </header>

  <div class="category-group" >
      <% @categories.each do | category | %>
          <%= link_to category_transactions_path(category_id: category.id) do %>
              <div class="category-card" >
                  <%= image_tag url_for(category.icon), alt: "group icon" %>
                  <div class="inner-card" >
                      <div class="inner-card-info">
                          <h3> <%= category.name %> </h3>
                          <% if category && category.transactions.present? %>
                              $ <%= category.transactions.sum { |transaction| transaction[:amount] } %>
                          <% else %>
                              $ 0
                          <% end %>
                      </div>
                      <h4> <%= category.created_at.strftime('%B %d, %Y %I:%M %p') %> </h4>
                  </div>
              </div>
          <% end %>
      <% end %>
  </div>

  <footer>
      <%= link_to "add a new category", new_category_path %>  
  </footer>

</div>